<main class="container">
    <div id="article-div m-2" style="border: 1px black solid; height:210px; margin-bottom:2%">
        <img id="article-image" class = "float-left m-1" src="{{article.image}}" style="max-height:300px; max-width: 300px;">
        <h3>{{article.title}}</h3>
        <p>{{article.summary}}</p>
        <a href="{{article.link}}" class="btn btn-danger m-1">View Article</a>
    </div>
    
    <div id="comments-div" class="m-2" style="border: 1px red dashed;">
        <h1>Latest Comment:</h1>
        <h3>{{article.comment.user}} says: "{{article.comment.body}}"</h3>
    </div>

        
<div id="comment-form" class="m-2">
    <h1>Add Comment</h1>
    <form class="m-3">
    <div class="form-group">
        <input class="form-control" id="username-input" placeholder="Username">
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="Comment" id="comment-input" rows="3"></textarea>
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    
    
</main>
{{!-- 5c87075605464a3ea8e37cd5 --}}